body {
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
    background: hsl(229, 57%, 11%);
    color: hsl(243, 100%, 93%);
}

.storage-bar {
    max-width: 600px;
    background: hsl(228, 56%, 26%);
    padding: 20px;
    margin-top: 100px;
}

.meter { 
	height: 20px;  
	position: relative;
	background: hsl(229, 57%, 11%);
	-moz-border-radius: 25px;
	-webkit-border-radius: 25px;
	border-radius: 25px;
    padding: 5px;
    
    .cloud {
        background: #fff;
        color: hsl(229, 57%, 11%);
        display: inline-block;
        position: absolute;
        top: -90px;
        right: -70px;
        padding: 30px;
        
    }
    
    & > span {
        display: block;
        height: 100%;
        border-top-right-radius: 8px;
        border-bottom-right-radius: 8px;
        border-top-left-radius: 20px;
        border-bottom-left-radius: 20px;
        background-color: hsl(6, 100%, 80%);
        background-image: linear-gradient(to right, hsl(6, 100%, 80%), hsl(335, 100%, 65%));
        box-shadow: 
          inset 0 2px 9px  rgba(255,255,255,0.3),
          inset 0 -2px 6px rgba(0,0,0,0.4);
        position: relative;
        overflow: hidden;
    }

    & > svg {
        width: 20px;
        height: 20px;
        position: absolute;
        right: 5px;
    }
}